
<%- include('../partials/head.ejs'); %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<br>
<h1><strong>Inspiration</strong></h1>
<h2>According to the U.S. Department of Agriculture, around 40% of food goods are wasted annually in the U.S. Food waste produces significant amounts of CO2 when decomposing, because of its improper disposal. Individual food waste could be cut down simply by planning your weekly meals and buying accordingly.</h2>
<br>
<h1><strong>What it does</strong></h1>
<h2>Plantry is an intelligent shopping list that keeps you informed about your carbon footprint. Plantry helps you plan environmentally friendly shopping lists by recommending recipes based on ingredients that you already own. Why buy something you don't need?</h2>
<br></body>
  
</html>